@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;700&family=Roboto:wght@300;400&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e8e2db;
}

.horizontal-scroll{
    display: flex;
    overflow-x: auto;
}

.nowrap{
    white-space: nowrap;
}
/* font-family: 'Noto Serif', serif; */
/* font-family: 'Roboto', sans-serif; */