.search-bar:hover{
    text-decoration: none;
}

.search-bar-form{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: rgb(243, 245, 249);
    padding: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.03) ;
    transition: ease .25s;
}

.search-bar-back-icon, .search-bar-delete-icon{
    display: none;
}

a.active .search-bar  form.search-bar-form{
    background-color: inherit;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    transition: ease .25s;
}

a.active .search-bar .search-bar-icon{
    display: none;
}

a.active .search-bar .search-bar-back-icon{
    display: block;

}

.show{
    display: block;
}

#search-input:focus,
    #search-input:active,
    #search-input:hover{
    outline: none;
    text-decoration: none;

}

.search-inactive{
    padding-bottom: 0px;
}

.search-active{
    padding-bottom: 7px;
}

/* #search-bar-list{
    transition: 1s;
} */
